@media screen and (max-width: 800px){


        .carousel-inner .carousel-item:nth-child(1) img {
            /* Substitua o caminho pela imagem em modo retrato desejada */
            content: url('../imagens/consultarProtestoRetrato.jpg');
            /* Ajuste a largura e altura conforme necessário */
          }
        .carousel-inner .carousel-item:nth-child(2) img {
            /* Substitua o caminho pela imagem em modo retrato desejada */
            content: url('../imagens/certidaoProtestoRetrato.jpg');
            /* Ajuste a largura e altura conforme necessário */
          }
        .carousel-inner .carousel-item:nth-child(3) img {
            /* Substitua o caminho pela imagem em modo retrato desejada */
            content: url('../imagens/cancelamentoAutorizadoRetrato.jpg');
            /* Ajuste a largura e altura conforme necessário */
          }

   
    
    header{
    height: 100%;
    }   
    
    .content{
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .content >h1{
        padding: 10px;
        text-align: center;
    }

    .logoMenu{
        width: 350px;
        margin: auto;
        
    }
    menu{
        display: none;
    }

    menu > ul{
        list-style-type: none;
    }

    menu > ul > li > a{
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background-color: #00968A;
        color:white;
        border: 1px solid #104A55 ;
    }

    menu > ul > li > a:hover{
        background-color: #85aaa9;
    }

    #borger{
        display: block;
        background-color: #104A55;
        color: white;
        text-align: center;
        padding: 5px;
    }

    #borger:hover{
        background-color: #d7fcfa;
        color: black;
        cursor: pointer;
        border-top: 1px solid #104A55;
    }

    .redes-sociais{
        height: 50px;
        background-color: #85aaa9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .QuemSomos{
        height: 1350px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .segundoQuemSomos{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }



    footer{
        height: 350px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    iframe{
        display: none;
    }

    footer .parte1 > img{
        width: 250px;   
    }

    footer .parte2 > .redes-footer{
       height: 80px;
       
    }
        
}