

*{
    padding: 0;
    margin: 0;
}

header{
  
    height: 200px;
    border-bottom: 1px solid black;
}

.redes-sociais{
    height: 50px;
    background-color: #28504f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.redes-icons{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.whatsapp, .instagran, .linkedin, .twitter{
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.whatsapp:hover, .instagran:hover, .linkedin:hover, .twitter:hover{
    background-color: #959cc5;
    color: white;
}

.whatsapp, .instagran, .linkedin, .twitter > i{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    height: 100%;
}
.content >h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #00968A;
    color:white;
    border: 1px solid #104A55 ;
}

menu > ul > li > a:hover{
    background-color: #85aaa9;
}

#borger{
    display: block;
    background-color: #104A55;
    color: white;
    text-align: center;
    padding: 5px;
}

#borger:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}




main{
    height: 100vh;
    background-color: #ffffff;
}

.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.carrosel{
    filter: drop-shadow(0px 0px 10px white);
    overflow: hidden;
}

.container{
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}



.principal2{
    height: 300px;
}


.QuemSomos{
    height: 600px;
    
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.quemSomosContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quemSomosContent > img{
    width: 80%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.quemSomosText > h1,h2{
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    color: #161d83;
    font-size: 28px;
    margin-top: 5px;

}
.quemSomosText > p{
    text-align: justify;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    margin:25px;
    
}



footer{
    height: 200px;
    background-color: #274F4E;
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    
    
}

footer > .mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .mapa > iframe{
    border-radius: 10px;
}
footer .parte1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .parte1 > img{
    width: 400px;
  
    
}

footer > .parte2{
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

footer .parte2 > p{
    color: white;
    text-align: center;
    
}


footer .parte2 > .redes-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.whatsapp-footer, .instagran-footer, .linkedin-footer,.twitter-footer{
    
    font-size: 24px;
    margin-right: 10px;
    background-color: white;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-footer:hover, .instagran-footer:hover, .linkedin-footer:hover,.twitter-footer:hover{
    background-color: #959cc5;
    color: white;
}